@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden {
  scrollbar-color: transparent transparent;
}
.scroll-hidden:hover{
  scrollbar-color: auto;
}

.item:hover figcaption {
  bottom: 0;
}

*{
  font-family: "Overpass", sans-serif;
}